# Visual Studio cache and workspace
.vs/
*.vsidx
*.vscode
*.user
*.suo

# Ignore Debug folder
Bin/Debug/

Debug/

[Bb]in/
[Dd]ebug/
**/Debug/
**/Debug/net*/  # Ignorovat složky jako net8.0, net6.0 atd.
obj/


# Ignore all obj folders recursively
**/obj/